html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: .6rem;
  background-color: #e2e2e2;
}

header h1 {
  margin: .5rem;
  padding-left: 1.5em;
}

header img {
  position: fixed;
  margin: .5rem;
}

header p {
  font-size: 1.125rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: .5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #0074d9;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.125rem;
  flex-wrap: wrap;
}
